/* Custom Styling for global elements */

html, body {
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: #a3a3a3;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-weight: 700;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h4 {
    margin-top: .85rem;
    font-weight: 700;
    font-size: .85rem;
}

h5 {
    margin-top: .75rem;
    font-weight: 700;
    font-size: .75rem;
}

h6 {
    margin-top: .75rem;
    font-weight: 700;
    font-size: .5rem;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #a3a3a3;
}
a:hover {
    color: #FFF;
    font-weight: 700;
}

.container {
    padding: 1rem 32px 6rem 32px;
}

@media screen and (min-width: 960px) {
    .container {
        width: 768px;
        max-width: 1024px;
    }
}

.title {
    color: #FFF;
    text-transform: uppercase;
}

.logo-container {
    padding: 1rem 0;
    
}

/* FX logo */
.logo {
    display: block;
    vertical-align: bottom;
}
.logo.fx {
    width: 120px;
    height: 80px;
    margin: 0 auto;
}
.svg svg {
    display: block;
}
.logo polygon {
    fill: white;
}
.svg .sprite {
    display: none;
    opacity: 0;
}
.sprite {
    background: url(http://www.fxnetworks.com/img/ie/icon-sprite.png) no-repeat 0 0;
    display: block;
    text-indent: -9999px;
}

/* content */
.main-content {
    margin-top: 3rem;
    @media screen and (min-width: 1088px) {
        margin-top: 5rem;
    }
}

.button {
    border-radius: 0;
    border-width: 2px;
    text-transform: capitalize;
    min-height: 40px;
    transition: all 0.5s ease;
    &:hover {
        background-color: #494949;
        color: #FFF;
    }
}

.button[disabled] {
    color: #333;
    transition: all 0.5s ease;
    &:hover {
        color: #FFF;
    }
}

.secondary-button {
    border-color: #333;
    color: #666;
}

/* form styling */

label.checkbox, label.radio {
    color: #a3a3a3;
    font-weight: 700;
    &:hover {
        color: #a3a3a3;
    }
}

/* general modal */

.modal {
    strong, em {
        color: #a3a3a3;
    }
    a {
        text-decoration: underline;
    }
    ul {
        margin: 1rem 0;
        list-style: square;
        list-style-position: inside;
    }
    .modal-card {
        border: 1px solid #494949;
    }
}

/* misc */
.designer-notes {
    font-size: .75rem;
    padding: .5rem
}
