/* custom vars go here */

$primary: #FF0100;
$link: #FF0100;
$body-background-color: $black;
$fx-text: #a3a3a3;
$body-color: $fx-text;
$primary-invert: $white;
$title-color: $white;

$button-color: $white;
$button-background-color: $black;
$button-border-color: $white;
$button-text-color: $white;

$label-color: $white;

$modal-z: 1001;
$modal-background-background-color: $black;
$modal-card-head-background-color: $black;
$modal-card-title-color: $white;
$modal-card-body-background-color: $black;



