/* Custom Styling for global elements */

html, body {
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: #FFF;
    font-size: 16px;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: .5rem;
    color: #444;
}

h2 {
    font-size: 2rem;
    margin-top: 3.2rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 3.2rem;
    margin-bottom: .5rem;
}

h4 {
    margin-top: 2.2rem;
    font-weight: 700;
    font-size: .85rem;
}

h5 {
    margin-top: 1.2rem;
    font-weight: 700;
    font-size: .75rem;
}

h6 {
    margin-top: 1rem;
    font-weight: 700;
    font-size: .5rem;
}

li {
    font-size: 1.2rem;
    line-height:3rem;
    transition: all 0.5s ease;
    border-bottom: 1px solid #4a4a4a;       
    padding: 0 .5rem;  
}

li:first-child {
    border-top: 1px solid #4a4a4a;
}

li:hover {
    background-color: #FF0100;
}

li:hover > a {
    color:#FFF;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #a3a3a3;
}
a:hover {
    color: #FFF;
    font-weight: 700;
}

.container {
    padding: 1rem 32px 6rem 32px;
}

@media screen and (min-width: 960px) {
    .container {
        width: 768px;
    }
}

.title {
    color: #FFF;
    text-transform: uppercase;
}

.logo-container {
    padding: 1rem 0;
    
}

/* FX logo */
.logo {
    display: block;
    vertical-align: bottom;
}
.logo.fx {
    width: 120px;
    height: 80px;
    margin: 0 auto;
}
.svg svg {
    display: block;
}
.logo polygon {
    fill: white;
}
.svg .sprite {
    display: none;
    opacity: 0;
}
.sprite {
    background: url(http://www.fxnetworks.com/img/ie/icon-sprite.png) no-repeat 0 0;
    display: block;
    text-indent: -9999px;
}